# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
# ordered list
1. Python
2. Scala
3. R
4. Java
5. SQL

# Some of the commonly used libraries used by Data Scientists include:
# Ordered List
1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib

| Data Science Tools |
|--------------------|
| JupyterNotebook    |
| Spyder             |
| Jupyter Lab        |

### Below are a few examples of evaluating arithmetic expressions in Python
a + b<br>
a - b<br>
a * b<br>
a / b<br>
a // b<br>
a ** b<br>

In [35]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [41]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

# Objectives:
## List popular languages for Data Science
- Python
- Scala
- R 
- Java
- SQL

## Author
Navraj Singh

## Github Link 
[GitHub Assignment link](https://github.com/GitCode14/Coursera-Assignment)